In [2]:
%%writefile test.txt
Hello. Python 3.6 is a powerful programming language that has applications not only for development and competetive programming,
but also in data science. I am currently learning the language for data analysing.

Writing test.txt

In [3]:
myfile = open('test.txt')

In [4]:
pwd

'C:\\Users\\hp'

In [9]:
myfile.read()

' a powerful programming language that has applications not only for development and competetive programming,\nbut also in data science. I am currently learning the language for data analysing.\n'

In [ ]:
myfile.seek(20)

In [10]:
myfile.seek(0)

0

In [11]:
myfile.close()

In [12]:
x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

In [13]:
cd

C:\Users\hp

In [14]:
cd ..

C:\Users

In [15]:
cd 'C:\\Users\\hp'

[WinError 123] The filename, directory name, or volume label syntax is incorrect: "'C:\\\\Users\\\\hp'"
C:\Users

In [16]:
cd 'C:\Users\hp'

[WinError 123] The filename, directory name, or volume label syntax is incorrect: "'C:\\Users\\hp'"
C:\Users

In [17]:
cd C:\\Users\\hp

C:\Users\hp

In [18]:
pwd

'C:\\Users\\hp'

In [37]:
x = [1,2,3,4]
y = [1,2,3,4,5,6]
for num in x:
    for nem in y:
        print(nem)

1
2
3
4
5
6
1
2
3
4
5
6
1
2
3
4
5
6
1
2
3
4
5
6

In [80]:
import random
name = ["arpit", "esha", "harshal","jeethendra", "krishnaveni", "sanskar", "shashank", "upendra"]
i = 0
j = len(name)
while i <= j:
    team = random.sample(name,2)
    for x in team:
        name.remove(x)
    i+=1
    print(team)

['jeethendra', 'harshal']
['esha', 'krishnaveni']
['upendra', 'shashank']
['sanskar', 'arpit']

ValueError: Sample larger than population or is negative

In [101]:
word = "Shreyas"
for item in enumerate(word):
    print(item)

(0, 'S')
(1, 'h')
(2, 'r')
(3, 'e')
(4, 'y')
(5, 'a')
(6, 's')

In [108]:
st = 'Print only the words that start with s in this sentence'
sta = st.split()
for q in sta:
    if q[0] == "s":
        print(q)

start
s
sentence

In [110]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [112]:
mlist = [x for x in range(1,50) if x%3==0]
print(mlist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [113]:
st = 'Print every word in this sentence that has an even number of letters'
mlist = st.split()

In [114]:
print(mlist)

['Print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']

In [130]:

for evword in mlist:
    j = 0
    for i in evword:
        j += 1
    if j%2 == 0:
        print(evword)

word
in
this
sentence
that
an
even
number
of

In [132]:
for x in range(1,101):
    if x%3 == 0 and x%5 != 0:
        print("fizz")
    elif x%5 == 0 and x%3 != 0:
        print("buzz")
    elif x%5 == 0 and x%3 == 0:
        print("fizzbuzz")
    else:
        print(x)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [140]:
st = 'Create a list of the first letters of every word in this string'
sta = [w[0] for w in st.split()]
print(sta)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [146]:
mylist = [1,2,3]
mylist.insert(0,2)

In [147]:
mylist

[2, 1, 2, 3]

In [148]:
def myfunc(*args):
    mylist = []
    for i in args:
        if i%2 == 0:
            mylist.append(i)
    return mylist

In [149]:
myfunc(2,3,4,5,6)

[2, 4, 6]

In [219]:
def myfunc(st):
    j=0
    sta = ""
    for i in st:
        if j%2 == 0:
            sta = sta + st[j].lower()
        else:
            sta = sta + st[j].upper()
        j += 1
    return sta

In [220]:
myfunc("Shashank")

'sHaShAnK'

In [222]:
def lesser_of_the_two_even(a,b):
    if a%2 == 0 and b%2 == 0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [224]:
lesser_of_the_two_even(24,12)

12

In [227]:
def animal_crackers(stri):
    lst = stri.split()
    return lst[0][0].lower() == lst [1][0].lower()

In [229]:
animal_crackers('Shashank samar')

True

In [230]:
def makes_twenty(a,b):
    return a+b == 20 or a == 20 or b == 20

In [233]:
makes_twenty(5,4)

False

In [260]:
def old_macdonald(name):
    g = ''
    j = 0
    for i in name:
        if j == 0 or j == 3:
            g += name[j].upper()
        else:
            g += name[j]
        j += 1
    return g

In [261]:
old_macdonald('shashank')

'ShaShank'

In [281]:
def master_yoda(stri):
    lt = stri.split()
    st = []
    j = 0
    for i in lt:
        st.append(lt[-j-1])
        j += 1
    return ' '.join(st)

In [282]:
master_yoda('khana khaya')

'khaya khana'

In [283]:
def almost_there(num):
    return 90 <= num <=110 or 190 <= num <= 210

In [289]:
almost_there(193)

True

In [369]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i]==nums[i+1]==3:
            return True
        
    return False

In [372]:
has_33([2, 3, 4, 3, 3])

True

In [374]:
def paper_doll(text):
    st = ''
    for i in text:
        for j in range(3):
            st = st + i
    return st

In [375]:
paper_doll('hustle')

'hhhuuussstttllleee'

In [382]:
def blackjack(a,b,c):
    su = a+b+c
    if su <= 21:
        return su
    else:
        if a == 11 or b == 11 or c == 11:
            return (su-10)
        else:
            return 'BUST'

In [383]:
blackjack(9,9,11)

19

In [406]:
def summer_69(arr):
    su = 0
    for b in arr:
        k = 0
        while b != 6:
            su += b
            k = 1
            break
        if k == 0:
            break
    
    for j in range(arr.index(9)+1, len(arr)):
        su += arr[j]
    return su

In [408]:
summer_69([2, 1, 6, 9, 11])

14

In [434]:
def spy_game(lst):
    st = []
    i = 0
    for it in lst:
        if it == 0 or it == 7:
            st.append(it)
            if st == [0,0,7]:
                i = 1
                break
    
    print(st)
    return i == 1

In [440]:
spy_game([1,0,2,0,7,2,0,4,5])

[0, 0, 7]

True

In [456]:
def count_primes(num):
    count = 0
    
    for i in range(2,num+1):
        ctr = 0
        for j in range(1,i):
            if i%j == 0:
                ctr += 1
        if ctr == 1:
            count += 1
    return count

In [461]:
count_primes(5)

3

In [462]:
pwd

'C:\\Users\\hp'

In [2]:
list(map((lambda tu: tu/2), [1,2,3,4,5,6,7,8,9]))

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [4]:
def vol(rad):
    return 4*3.14*(rad**3)/3

In [5]:
vol(2)

33.49333333333333

In [20]:
def ran_check(num,low,high):
    return num in range(low, high+1)

In [22]:

ran_check(11,1,10)

False

In [32]:
def up_low(s):
    u = 0
    l = 0
    for i in s:
        if i.isupper():
            u += 1
        elif i.islower():
            l += 1
    print(f'No. of Upper case character: {u}')
    print('No. of Lower case character: {}'.format(l))

In [33]:
r = 'Hello Mr. Rogers, how are you this fine Tuesday?'

up_low(r)

No. of Upper case character: 4
No. of Lower case character: 33

In [38]:
def unique_list(lst):
    sta = []
    for i in lst:
        sta.append(i)
        for x in sta:
            if sta.count(x) == 2:
                sta.remove(x)
    return sta

In [42]:
unique_list([1,1,1,1,2,2,3,3,5,5,3,3,4,3,5])

[1, 2, 4, 3, 5]

In [70]:
def palindrome(s):
    if len(s) %2 == 0:
        return s[0:] == s[::-1]
    else:
        x = int(len(s)/2) + 1
        return s[0:x-1] == s[-1:-x:-1]

In [71]:
palindrome('heleh')

True

In [69]:
st = 'heleh'
st[0:3]

'hel'